#alerta {
  width: 400px;
  background-color: #eddfdf;
  border: 1px solid #ccc;
  margin: 40px auto;
  cursor: move;
  position: absolute;
  left: calc(50%-200px);
}

.title {
  background-color: #329596;
  height: 30px;
  border-bottom: 1px solid #227374;
  text-transform: uppercase;
  padding: 10px 10px 0px 0px;
  text-align: center;
  color: #073c3d;
  text-shadow: 1px 1px 1px #6fabac;
}

i {
  float: right;
  padding-top: 3px;
  cursor: pointer;
}

.body {
  padding: 10px;
}

button {
  display: block;
  padding: 4px 11px;
  border: 1px solid #ffcc00;
  background-color: #ffcc00 !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
	background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 #666;
  cursor: pointer;
  position: relative;
  margin: 10px auto;
}

input {
  height: 34px;
  width: 315px;
  padding: 2px;
  font-size: 14px;
  line-height: 1.42857143px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
   -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#resultado {
  color: #227210;
  font-size: 12px;
}

#contador {
  position: sticky;
  top: 0;
	color: #227210;
	text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
}
