body {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  margin: -8px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  height: 650px;
  margin-bottom: 2em;
}

.retangulo_menu {
  width: 100%;
  display: flex;
  line-height: 45px;
}

#logo_gti {
  margin: 8px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  align-self: center;
}

.menu_lateral {
  padding-left: 0px;
  display: flex;
  margin-left: auto;
  padding-right: 1em;
}

.item_menu {
  list-style: none;
  padding: 0.5em;
  margin: auto;
  font-size: 18px;
}

.container_titulo_site {
  position: relative;
  top: 35%;
  transform: translateY(-35%);
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 52px;
  text-shadow: 0px 1px #000;
}


.container_botoes_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes_header {
  font-size: 25px;
  padding: 0.5em;
  border: 1px, 1px, 1px, 1px;
  border-color: white;
  border-style: solid;
  margin-right: 7px;
  border-radius: 5px;
  margin-top: 5px;
}

.botoes_header:hover a {
  color: black;
}

.botoes_header:hover {
  background-color: white;
}
