a {
  text-decoration: none;
}

a:hover {
  color: black;
}

.retangulo_menu {
  background-color: black;
  opacity: 0.68;
}

h1, li, a, #estudar_a, #estudar_b, .vermais, .nome_aula, .footer {
  color: white;
}

#titulo_html {
  color: #f46e32;
}

h2 {
  color: #f46e32;
}

#titulo_ruby {
  color: #a6405f;
}

#html {
  background-color: #d55b44;
}

#css {
  background-color: #6cc4eb;
}

#js {
  background-color: #f3c94c;
}

#ruby {
  background-color: #b01a00;
}

#rails, #estudar_b {
  background-color: #a5313c;
}

#heroku {
  background-color: #8830ff;
}

#estudar_a {
  background-color: #ff7e00;
}

.vermais {
  background-color: black;
}
