section { /* contem a imagem_pcs e o container_secao */
  display: flex;
}

.imagem_pcs {
  align-self: center;
  width: 100%;
  margin-right: 48px;
  margin-bottom: 5px;
}

.container_secao { /* contem o titulo "material trainee" */
  display: flex;   /* e o texto debaixo */
  flex-direction: column;
}

h2 { /* titulo "material trainee" */
  text-align: justify;
  font-size: 35px;
}

.texto { /* texto embaixo do "material trainee" */
  text-align: justify;
  align-self: center;
}

h3 { /* titulos "html e ruby" */
  text-align: center;
  font-size: 35px;
  margin-bottom: 2em;
}

.espacador {
  width: 100%;
  background-color: lightgray;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -8px;
  margin-right: -8px;
}

.container_aulas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.caixa_aula {
  width: 320px;
  height: 307px;
  display: flex;
  flex-direction: column;
  border-style: outset;
  border-color: gray;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: space-around;
}

.background_aula {
  width: 320px;
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nome_aula {
  margin-left: 15px;
  align-self: flex-start;
}

.data {
  text-align: center;
  font-size: 12px;
}

.estudar, .vermais {
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  display: inline-block;
  align-self: center;
}

.vermais {
  margin-top: 15px;
  padding-left: 65px;
  padding-right: 65px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  position: relative;
  background-color: black;
  text-align: center;
  font-size: 18px;
  opacity: 0.90;
  margin: -8px;
  margin-top: 28px;
  line-height: 60px;
}
