@media only screen and (max-width: 600px) {
  html {
  overflow-x: hidden;
  }

  h1 {
    font-size: 48px;
  }

  .container_botoes_header, section, .retangulo_menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu_lateral {
    margin: auto;
  }
}
